SELECT [date]
      ,[hour]
      ,[minute]
      ,[fullVisitorId]
      ,[visitId]
      ,[pagetype]
      ,[productid]
      ,[webshop]
      ,[transactionId]
      ,[trafficSource_source]
      ,[trafficSource_medium]
      ,[totals_pageviews]
      ,[totals_timeOnSite]
      ,[geoNetwork_country]
      ,[device_browser]
      ,[device_deviceCategory]
      ,[device_operatingSystem]
      ,[PRODUCTGROUPID]
      ,[PRODUCTTYPEID]
      ,[BRANDID]
      ,[GENDER]
  FROM [Playground].[dbo].[challenge_genderprediction_agg]

  union

  SELECT TOP [date]
      ,[hour]
      ,[minute]
      ,[fullVisitorId]
      ,[visitId]
      ,[pagetype]
      ,[productid]
      ,[webshop]
      ,[transactionId]
      ,[trafficSource_source]
      ,[trafficSource_medium]
      ,[totals_pageviews]
      ,[totals_timeOnSite]
      ,[geoNetwork_country]
      ,[device_browser]
      ,[device_deviceCategory]
      ,[device_operatingSystem]
      ,[PRODUCTGROUPID]
      ,[PRODUCTTYPEID]
      ,[BRANDID]
      , null as [GENDER]
  FROM [Playground].[dbo].[challenge_genderprediction_test_agg]